<!DOCTYPE html>
<html lang="en" xmlns:th ="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="./images/logo.jpg" width="30" height="30" alt="Logo"/>
    </a>
    <a class="navbar-brand" href="/add">Add Books</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbar2">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/list" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/search/{state}(state=borrowed)}">Return a book </a>
                    <a class="dropdown-item" th:href="@{/search/{state}(state=available)}">Borrow a book</a>

                </div>
            </li>
        </ul>
    </div>
</nav>
<form action="#"
      th:action="@{/process}"
      th:object="${addBook}"
      method="post">
    <div class="addbooks">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" name="state" value="available"/>
        <h1>Add Books</h1>
    <div class="form-group">
        <label>Book Title</label>
        <input type="text" class="form-control" th:field="*{bookTitle}"  placeholder="Enter Tittle"/>
        <span th:if="${#fields.hasErrors('bookTitle')}"
              th:errors="*{bookTitle}"></span>
    </div>
    <div class="form-group">
        <label >Author</label>
        <input type="text" class="form-control" th:field="*{author}"   placeholder="author"/>
        <span th:if="${#fields.hasErrors('author')}"
              th:errors="*{author}"></span>
    </div>
    <div class="form-group">
        <label>Year Of Publication</label>
        <input type="number" class="form-control" th:field="*{yearOfPublication}"   placeholder="2018"/>
        <span th:if="${#fields.hasErrors('yearOfPublication')}"
              th:errors="*{yearOfPublication}"></span>
    </div>
    <div class="form-group">
        <label >ISBN(Optional)</label>
        <input type="text" class="form-control" th:field="*{ISBN}"  placeholder="isbn" />
    </div>
    <div class="form-group">
        <label >Image(Optional)</label>
        <input type="text" class="form-control" th:field="*{bookImage}"  placeholder="image(url)"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>