<!DOCTYPE html>
<html lang="en" xmlns:th ="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="./images/logo.jpg" width="30" height="30" alt="Logo"/>
    </a>
    <a class="navbar-brand" href="/add">Add Books</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbar2">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/list" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/search/{state}(state=borrowed)}">Borrowed</a>
                    <a class="dropdown-item" th:href="@{/search/{state}(state=available)}">Avalable</a>

                </div>
            </li>
        </ul>
    </div>
</nav>
<form action="#"
      th:action="@{/process}"
      th:object="${addBook}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" name="state" value="available"/>
    <input type="hidden" th:field="*{bookTitle}"/><br/>
    <input type="hidden" th:field="*{author}"/><br/>
    <input type="hidden" th:field="*{yearOfPublication}"/><br/>
    <input type="hidden" th:field="*{ISBN}"/><br/>
    <input type="hidden" th:field="*{bookImage}"/><br/>
    <input type="submit" value="please confirm"/>
</form>
</body>
</html>